Package: com.eevee.spotify
Name: EeveeSpotify
Version: 6.6.8
Architecture: iphoneos-arm
Description: A tweak to get Spotify Premium for free, just like Spotilife
Maintainer: zbzxbg
Author: Eevee
Section: Tweaks
Depends: ${ORION}, firmware (>= 16.1)
